<h2>Account Details</h2>
<h4>Username:</h4> <p><%= @guest.username %></p>
<h4>Email:</h4> <p><%= @guest.email %></p>

<button onclick="window.location.href= '/account/edit';">Edit Account Details</button>