<form action='/login' method='POST'>
<fieldset>
    <legend>Log In</legend>
    <label>Username:</label><br>
    <input type="text" name="username" required="required"><br><br>
    <label>Password:</label><br>
    <input type="password" name="password" required="required"><br><br>

    <input type="submit" value="LOG IN">
</fieldset>
</form>
<br>
Don't have an account yet?
<br>
<button onclick="window.location.href= '/signup';">Sign Up</button>