<form action='/signup' method='POST'>
<fieldset>
    <legend>Create acount</legend>
    <label>Name:</label><br>
    <input type="text" name="name" required="required"><br><br>
    <label>Email:</label><br>
    <input type="text" name="email" required="required"><br><br>
    <label>Username:</label><br>
    <input type="text" name="username" required="required"><br><br>
    <label>Password:</label><br>
    <input type="password" name="password" required="required"><br><br>

    <input type="submit" value="GET STARTED">
</fieldset>
</form>