@media screen {
  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  /* --- Welcome Page Styles --- */

  body {
    background-color: white;
    color: #333;
    font-family: 'DM Sans', sans-serif;
    line-height: 18px;
  }

  .wrapper {
    background: #fff;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 16px auto;
    max-width: 960px;
    padding: 2.25%; /* 18px / 800px */
    width: 85%;
  }
  h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 73px;
    line-height: 64px;
  }

  h2 {
    font-size: 30px;
    line-height: 54px;
  }

  h3 {
    border-bottom: 2px solid #ccc;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
  }

  h4 {
    font-size: 18px;
    line-height: 36px;
  }

  p {
    line-height: 40px;
    margin-bottom: 18px;
  }

  .main {
    overflow: hidden;
  }

  .content {
    float: left;
    width: 60%; /* 480px / 800px */
  }

  .sidebar {
    background: #eee;
    border: 1px solid #ccc;
    float: right;
    padding: 2.08333333333%; /* 5px / 240px */
    width: 30%; /* 240px / 800px */
  }

  .sidebar ul {
    font-size: 14px;
  }

  .branding {
    clear: both;
  }

  footer.branding {
    border-top: 2px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
  }

  fieldset {
    width: 350px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 30px;
    text-align: left;
  }

  nav {
    clear: both;
    color: #333;
    background-color: rgba(76, 0, 130, 0.849);
    height: 30px;
  }

  nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;
  }

  nav li {
    display: inline;
    margin-right: 40px;
  }

  nav li a {
    color: #eee;
  }

  nav li a:hover, nav li a.current {
    color: rgb(154, 186, 194);
  }

  legend {
    background-color: #efefef;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: left;
    text-transform: uppercase;
  }

  button[onclick] {
    background-color: indigo;
    border: none;
    border-radius: 10px;
    color: #eee;
    padding: 4px 10px;
    margin: 4px 2px;
    cursor: pointer;
    box-align: right;
  }

  input[type=submit] {
    background-color: indigo;
    border: none;
    border-radius: 10px;
    color: #eee;
    padding: 9px 20px;
    margin: 4px 2px;
    cursor: pointer;
    box-align: right;
  }

  article {
    background-color: rgba(233, 215, 243, 0.349);
    margin: 30px auto 30px auto;
    width: 700px;
    border-radius: 5px;
    padding: 10px;
    box-align: left;
  }

  article:hover {
    -moz-box-shadow: 0 0 10px #777777;
    -webkit-box-shadow: 0 0 10px #777777;
    box-shadow: 0 0 10px #777777;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  }

  .content, .sidebar {
    float: none;
    width: 100%;
  }

  .sidebar {
    background: transparent;
    border: none;
    border-top: 2px solid #ccc;
    padding: 0;
  }

  h1 {
    font-size: 24px;
    line-height: 36px;
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
  }
}
