<div class="container">
  <header><h1 style="color:rgb(120, 64, 131);"><img src="/images/bouquet.png" style="width:30%;height:30%;" align="right">evntsly</h1></header>
  <br>
  <br>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to evntsly!</h2>

    <div class="content">
      <p>Please log in or sign up to rsvp to upcoming events.</p>
      <button onclick="window.location.href= '/login';">Log In</button>
      <button onclick="window.location.href= '/signup';">Sign Up</button>
    </div>

  </div>
</div>