<div class="container">
  <header><h1 style="color:indigo;">eventsly</h1></header>
  <br>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to eventsly!</h2>

    <div class="content">
      <p>Please log in or sign up to rsvp to upcoming events.</p>
      <button onclick="window.location.href= '/login';">Log In</button>
      <button onclick="window.location.href= '/signup';">Sign Up</button>
    </div>

  </div>
</div>